body {
    margin: 50px 0 60px;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.container {
	width: 70%;
    margin: 0 auto;
    padding: 15px 0;
}

#chart {
    margin-left: 15%;
    padding: 15px 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #009966;
    border-bottom: 16px solid #009966;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 25%;
    margin-top: 50px; 
    animation: spin 3s linear infinite;
    -webkit-animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.viewSwitch {
    display: none;
    padding: 10px 0;
    font-size: 18px;
}

.viewSwitch div {
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    padding: 7px;
}

.viewSwitch div:hover {
    cursor: pointer;
}

.viewSwitch .graph {
    background-color: #d9d9d9;
}

.info {
    display: none;
}

svg {
	width: 1150px;
	height: 1000px;
}

rect.bar { 
  	fill: #009966;
	stroke: #009966;
  	stroke-width: 2;
}

rect.bar:hover {
	fill: #00cc88; 
}

g text {
	font-size: 14px;
}

.tooltip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
      }
